.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 65px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logoContainer {
  display: flex;
  align-items: center;

}



.nav {
  display: flex;
}

.navLink {
  background-color: #ffffff;
  color: #333333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 1px;
  text-decoration: none;
  margin-right: 840px;
  margin-top: 5px;
  font-size: 17px;
  user-select: none;
}

.navLink:hover,
.navLink:active {
  background-color: #399D6B;
  color: #ffffff;
}

.navLinkUnderline {
  display: none;
}

.navLink .navLinkUnderline,
.navLink:active .navLinkUnderline {
  display: block;
  height: 2px;
  background-color: #399D6B;
  transition: width 0.3s;
}

.controls {
  display: flex;
}

.logoText {
  margin-left: 11px;
  text-decoration: none;
  color: black;
  height: 100%;
  vertical-align: 12px;
}

.logoTextCard {
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;

}

.logoTextShop {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.controlGroup {
  position: relative;
  display: flex;
  align-items: center;
}



.controls:last-child {
  margin-right: 0;
}

.divider {
  height: 28px;
  width: 1px;
  background-color: #bbbaba;
  margin-left: 10px;
  margin-right: 10px;
}


.navLink {
  display: inline-block;
  background-color: #ffffff;
  color: #333333;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  margin-right: 1px;
  cursor: pointer;
}

.navLink:hover {
  background-color: #399D6B;
  color: #ffffff;
  font-weight: 700;
}


.navLinkUnderline {
  display: none;
}

.navLink:hover .navLinkUnderline {
  display: block;
}

.number {
  color: green;
  margin-top: 7px;
  margin-left: 5px;
}

.menuContainer {
  position: relative;
}

.iconContainer {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  z-index: 1000;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
}

.dropdownMenu li:last-child {
  border-bottom: none;
}

.dropdownMenu li:hover {
  background-color: #f9f9f9;
}

.dropbutton {
  color: black;
}

@media (max-width: 767px) {
  .navLink {
    display: none;

  }

  .logoText {
    display: none;
  }

  .number {
    display: none;
  }

  .header {
    display: fixed;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    width: 100%;
    background-color: white;
    z-index: 2000;
  
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.hoverEffect {
  margin-right: 3px;
  transition: transform 0.3s ease;
}
.hoverEffectwo {
  margin-top: 4px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.hoverEffectwo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hoverEffect:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.phonemenu {
  margin-top: -5px;
  width: 20px;
  height: 20px;
}

.phonemenublock {
  display: none;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.phonemenu:active {
  transform: scale(0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



@media (max-width: 767px) {
  .phonemenublock {
    display: flex;
  }
}


.visible {
  background-color: red;
}



.slideOutLeft {
  animation: slideOutLeftAnimation 0.5s forwards;
}

@keyframes slideOutLeftAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}