.html,
.body {
  font-family: 'Roboto', sans-serif;

}


.html,
.body {
  margin: 0;
}

.body {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/ground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media (max-width: 767px) { 
  .body {
    margin-top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/ground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}