.html,
.body {
  font-family: 'Inter', sans-serif;

}



.html,
.body {
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow: auto;
}

.bd {
  display: flex;
}


@media (max-width: 767px) { 
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/ground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: var(--primary-color);
    color: var(--text-color);
  }
}