.sidebar {
    width: 250px; 
    background: #FFF; 
    margin-top: 40px;
    
  }

  @media (max-width: 850px) {
    .sidebar {
      display: none;
      
    }

    .pressed {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
  }
  
  
  .navList {
    list-style: none; 
    padding: 0; 
    
    
  }
  
  .navItem {
    padding: 10px;
    border-radius: 10px; 
    height: 35px;
    font-weight: 700px;
    padding-top: 18px;
    cursor: pointer;
  }

  
  .navItem a {
    text-decoration: none;
    color: #333; 
    display: flex;
    align-items: center; 
    font-weight: 600;
    margin-top: -3px;
  }
  
  .icon {
    margin-right: 10px; 
  }
  
  .navItem:hover {
    background: #d7fadc;
  }

  .active {
    padding: 10px;
    border-radius: 10px;
    height: 35px;
    font-weight: 700px;
    padding-top: 18px;
    cursor: pointer;
    background: #d7fadc;
  }

  .active a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: -3px;
  }
  
  