.refundSearch {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  margin-top: 40px;
  margin-left: 50px;
}

.refundSearchheader {
  margin-bottom: 20px;
}

.refundSearchbody {
  margin-bottom: 20px;
}

.refundSearchrow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.refundSearchfield {
  flex-basis: calc(50% - 10px);
}

.refundSearchfield label {
  display: block;
  margin-bottom: 5px;
}

.refundSearchfield input,
.refundSearchfield textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.customFileUpload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btnprimary {
  color: #fff;
  background-color: green;
  border-color: green;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btnprimary:hover {
  background-color: rgb(3, 171, 3);
  border-color: rgb(3, 171, 3);
}

.backLink {
  font-weight: 800;
  color: #000;
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
  margin-bottom: 30px;
}


@media (max-width: 767px) {
  .refundSearch {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    margin-top: 40px;
    margin-left: 0;
  }
}