:root {
  --background-color: #ffffff;
  --text-color: #292727;
}

html.dark {
  --background-color: #0A0A1D;
  --text-color: #ffffff;
}


  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
