.assetsContainer {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center; 
    margin-left: 50px; 
    margin-top: 50px;
    border: 1px solid #ccc; 
    width: 90%;
    height: 310px;
  }

  .amount {
    margin: 25px;
    margin-bottom: 40px;
  }
  
  .header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #e0e0e0; /* Например, добавляем 2px сплошную серую нижнюю границу */
  }
  
  .description {
    color: #666;
    margin-bottom: 10px;
  }
  
  .suggestion {
    margin-bottom: 20px;
  }
  
  .buyButton {
    background-color: #399D6B;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .buyButton:hover {
    background-color: #399D6B;
  }
  
  .seeMoreButton {
    background: none;
    border: none;
    color: #399D6B;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .seeMoreButton:hover {
    color: #399D6B;
  }


  .description {
    color: #666;
    margin-bottom: 10px;
  }
  
  .suggestion {
    margin-bottom: 20px;
  }
  
  .buyButton {
    background-color: #399D6B;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }