
.html, .body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}


.html, .body {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/public/ground.jpg");
  background-size: cover;
  background-position: center;
}

