.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: right;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -20px;
  width: 100%;
  height: 65px;
}

.logoContainer {
  display: flex;
  align-items: center;

}

.outer {
  margin-right: 30px;
  margin-top: 40px;
}



.nav {
  display: flex;
}

.navLink {
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 1px;
  text-decoration: none;
  margin-right: 840px;
  margin-top: 15px;
  font-size: 17px;
  user-select: none;
  height: 20px;
}

.navLink:hover,
.navLink:active {
  background-color: #2A27A4;
  color: #ffffff;
}

.navLinkUnderline {
  display: none;
}

.navLink .navLinkUnderline,
.navLink:active .navLinkUnderline {
  display: block;
  height: 2px;
  background-color: #2A27A4;
  transition: width 0.3s;
}

.controls {
  display: flex;
}

.logoText {
  margin-left: 11px;
  text-decoration: none;
  color: var(--text-color);
  height: 100%;
  vertical-align: 12px;
}

.logoTextCard {
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;

}

.logoTextShop {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.controlGroup {
  position: relative;
  display: flex;
  align-items: center;
}



.controls:last-child {
  margin-right: 0;
}

.divider {
  height: 28px;
  width: 1px;
  background-color: #bbbaba;
  margin-left: 10px;
  margin-right: 10px;
}


.navLink {
  display: inline-block;
  color: var(--text-color);
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  margin-right: 1px;
  cursor: pointer;
}

.navLink:hover {
  background-color: #2A27A4;
  color: #ffffff;
  font-weight: 700;
}


.navLinkUnderline {
  display: none;
}

.navLink:hover .navLinkUnderline {
  display: block;
}

.number {
  color: #2A27A4;
  margin-top: 18px;
  margin-left: 5px;
}

.menuContainer {
  position: relative;
}

.iconContainer {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  z-index: 1000;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
}

.dropdownMenu li:last-child {
  border-bottom: none;
}

.dropdownMenu li:hover {
  background-color: var(--background-color);
}

.dropbutton {
  color: var(--text-color);
}

@media (max-width: 950px) {

  .controlGroup {
    margin-right: 10px;
  }

  .navLink {
    display: none;

  }

  .logoText {
    display: none;
  }

  .number {
    display: none;
  }

  .header {
    justify-content: right;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    width: 98%;
    background-color: var(--background-color);
    z-index: 2000;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
      margin-left: -10px;
  }


}

.hoverEffect {
  margin-right: 3px;
  transition: transform 0.3s ease;
  margin-top: 40px;
  margin-right: 10px;
}

.hoverEffectwo {
  margin-top: 4px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.hoverEffectwo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hoverEffect:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.phonemenu {
  margin-top: -5px;
  width: 20px;
  height: 20px;
}

.phonemenublock {
  display: none;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.phonemenu:active {
  transform: scale(0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



@media (max-width: 950px) {
  .phonemenublock {
    display: flex;
  }
}


.visible {
  background-color: red;
}



.slideOutLeft {
  animation: slideOutLeftAnimation 0.5s forwards;
}

@keyframes slideOutLeftAnimation {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.sidebar {
  width: 250px;
  background: #FFF;
  margin-top: 40px;

}

.nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}



.navList {
  list-style: none;
  padding: 0;


}

.navItem {
  padding: 10px;
  border-radius: 10px;
  height: 35px;
  font-weight: 700px;
  padding-top: 18px;
  cursor: pointer;
}


.navItem a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: -3px;
}

.icon {
  margin-right: 10px;
}

.navItem:hover {
  background: #d7fadc;
}

.active {
  padding: 10px;
  border-radius: 10px;
  height: 35px;
  font-weight: 700px;
  padding-top: 18px;
  cursor: pointer;
  background: #d7fadc;
}

.active a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: -3px;
}



.icon {
  margin-right: 8px;
}

.menuItem {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: var(--text-color);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.menuItem:last-child {
  margin-right: 0;
}



.menuItem {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
  min-width: 200px;
  margin: auto;
  transition: transform 300ms ease-out, color 300ms ease-out;
}

.menuItem:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: black;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}

.menuItem:active {
  transform: translateY(4px);
}

.icon {
  margin-right: 10px;
}

@keyframes spring {
  15% {
    transform-origin: center center;
    transform: scale(1.2, 1.1);
  }

  40% {
    transform-origin: center center;
    transform: scale(0.95, 0.95);
  }

  75% {
    transform-origin: center center;
    transform: scale(1.05, 1);
  }

  100% {
    transform-origin: center center;
    transform: scale(1, 1);
  }
}


.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  max-width: 1000px;
  margin: auto;
  margin-top: -5px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--text-color);
  min-width: 50px;
  margin: auto;
  transition: transform 300ms ease-out, color 300ms ease-out;
}

.menuItem:hover {
  background-image: url('https://i.ibb.co/8b5QF9D/imgonline-com-ua-Replace-color-c-P2u40-PUGq-Iy-removebg-preview.png');
  background-size: 100% 100%;
  color: black;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #a1fd8f;
  font-weight: bold;
}

.menuItem:active {
  transform: translateY(4px);
}

.icon {
  margin-right: 10px;
}


.authorizationSettings {
  margin-top: 70px;
  margin-left: 30%;
  width: 500px;
}


.successMessage {
color: #2A27A4;
margin-top: 10px;
}

.errorMessage {
color: red;
margin-top: 10px;
align-items: center;
width: 150%;
}

.title {
  margin-bottom: 20px;
}

.authSettingsContainer {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.authSettings {
  margin-bottom: 15px;
}

.authSettings label {
  display: block;
  margin-bottom: 5px;
}

.authSettings input {
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.authSettings button {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.authSettingsActions button {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 15px;
}


.backLink {
  font-weight: 800;
  color: var(--text-color);
  text-decoration: none;
  margin-right: 15px;
  font-size: 16px;
  margin-bottom: 30px;
}

.lastActivity {
  max-width: 800px;
  padding: 20px;
  padding-bottom: 70px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom: 100px;
  width: 50%;
}

.activityList {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.activityItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.activityItem span {
  flex: 1;
  text-align: left;
  padding-right: 10px;
}

.activityItem button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
}

.deleteButton {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  float: right;
  
}


.activityList:after {
  content: "";
  display: table;
  clear: both;
}



.themebox {
  width: 500px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #ccc;
}




/* ThemeSwitch.module.css */
.themeblock {
width: 550px;
height: 300px;
margin-left: 30%;
margin-top: 40px;
margin-bottom: 30px;
}

.themebox {
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
}
.theme {
display: flex;
align-items: center;
-webkit-tap-highlight-color: transparent;
}

.themeFill,
.themeIcon {
transition: transform var(--transDur) ease-in-out;
}

.themeFill {
background-color: var(--bg);
display: block;
mix-blend-mode: difference;
position: fixed;
inset: 0;
height: 100%;
transform: translateX(-100%);
z-index: -1;
}

.themeIcon,
.themeToggle {
z-index: 1;
cursor: pointer;
}

.themeIcon,
.themeIconPart {
position: absolute;
}

.themeIcon {
display: block;
top: 0.75em;
left: 0.75em;
width: 1.5em;
height: 1.5em;
}

.themeIconPart {
border-radius: 50%;
box-shadow: 0.4em -0.4em 0 0.5em hsl(0,0%,100%) inset;
top: calc(50% - 0.5em);
left: calc(50% - 0.5em);
width: 1em;
height: 1em;
transition:
    box-shadow var(--transDur) ease-in-out,
    opacity var(--transDur) ease-in-out,
    transform var(--transDur) ease-in-out;
transform: scale(0.5);
}

.themeIconPart ~ .themeIconPart {
background-color: hsl(0,0%,100%);
border-radius: 0.05em;
box-shadow: none;
top: 50%;
left: calc(50% - 0.05em);
transform: rotate(0deg) translateY(0.5em);
transform-origin: 50% 0;
width: 0.1em;
height: 0.2em;
}

.themeIconPart:nth-child(3) {
transform: rotate(45deg) translateY(0.5em);
}

.themeIconPart:nth-child(4) {
transform: rotate(90deg) translateY(0.5em);
}

.themeIconPart:nth-child(5) {
transform: rotate(135deg) translateY(0.5em);
}

.themeIconPart:nth-child(6) {
transform: rotate(180deg) translateY(0.5em);
}

.themeIconPart:nth-child(7) {
transform: rotate(225deg) translateY(0.5em);
}

.themeIconPart:nth-child(8) {
transform: rotate(270deg) translateY(0.5em);
}

.themeIconPart:nth-child(9) {
transform: rotate(315deg) translateY(0.5em);
}

.themeToggleWrap {
position: relative;
margin: 0 0.75em;
}

.themeToggle,
.themeToggle:before {
display: block;
}

.themeToggle {
background-color: hsl(48,90%,85%);
border-radius: 25% / 50%;
box-shadow: 0 0 0 0.125em var(--primaryT);
padding: 0.25em;
width: 6em;
height: 3em;
-webkit-appearance: none;
appearance: none;
transition:
    background-color var(--transDur) ease-in-out,
    box-shadow 0.15s ease-in-out,
    transform var(--transDur) ease-in-out;
}

.themeToggle:before {
background-color: hsl(48,90%,55%);
border-radius: 50%;
content: "";
width: 2.5em;
height: 2.5em;
transition:
    background-color var(--transDur) ease-in-out,
    transform var(--transDur) ease-in-out;
transform: translateX(0); 
}

.themeToggle:focus {
box-shadow: 0 0 0 0.125em var(--primary);
outline: transparent;
}

.themeToggle:checked {
background-color: hsl(198,90%,15%);
}

.themeToggle:checked:before,
.themeToggle:checked ~ .themeIcon {
transform: translateX(3em);
}

.themeToggle:checked:before {
background-color: hsl(198,90%,55%);
}

.themeToggle:checked ~ .themeFill {
transform: translateX(0);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(1) {
box-shadow: 0.2em -0.2em 0 0.2em hsl(0,0%,100%) inset;
transform: scale(1);
}

.themeToggle:checked ~ .themeIcon .themeIconPart ~ .themeIconPart {
opacity: 0;
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(2) {
transform: rotate(45deg) translateY(0.8em);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(3) {
transform: rotate(90deg) translateY(0.8em);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(4) {
transform: rotate(135deg) translateY(0.8em);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(5) {
transform: rotate(180deg) translateY(0.8em);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(6) {
transform: rotate(225deg) translateY(0.8em);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(7) {
transform: rotate(270deg) translateY(0.8em);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(8) {
transform: rotate(315deg) translateY(0.8em);
}

.themeToggle:checked ~ .themeIcon .themeIconPart:nth-child(9) {
transform: rotate(360deg) translateY(0.8em);
}

@supports selector(:focus-visible) {
.themeToggle:focus {
    box-shadow: 0 0 0 0.125em var(--primaryT);
}
.themeToggle:focus-visible {
    box-shadow: 0 0 0 0.125em var(--primary);
}
}


@media (max-width: 767px) {
.refundSearch {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: var(--background-color);
  margin-top: 40px;
  margin-left: 0;
}

.authorizationSettings {
  margin-top: 50px;
  margin-left: 20px;
  width: 80%;
  margin-right: 20px;
}

.lastActivity {
  max-width: 800px;
  padding: 20px;
  padding-bottom: 70px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  margin-left: 0px;
  margin-top: 70px;
  margin-bottom: 100px;
  width: 100%;
}

.browser {
  display: none;
}

.themeblock {
  width: 80%;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 4%;
}

.themebox {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #ccc;
}
}

@keyframes spring {
  15% {
    transform-origin: center center;
    transform: scale(1.2, 1.1);
  }

  40% {
    transform-origin: center center;
    transform: scale(0.95, 0.95);
  }

  75% {
    transform-origin: center center;
    transform: scale(1.05, 1);
  }

  100% {
    transform-origin: center center;
    transform: scale(1, 1);
  }
}

@media (max-width: 1350px) {

  .nav {
    display: none;
  }

  .sidebar {
    display: none;

  }

  .pressed {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
}


@media (max-width: 1350px) {
.hoverEffect {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 5px;
}

}

