.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
  height: 65px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.logoContainer {
  display: flex;
  align-items: center;

}



.nav {
  display: flex;
}

.navLink {
  background-color: #ffffff;
  color: #333333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 1px;
  text-decoration: none;
  margin-right: 840px;
  margin-top: 15px;
  font-size: 17px;
  user-select: none;
  height: 20px;
}

.navLink:hover,
.navLink:active {
  background-color: #399D6B;
  color: #ffffff;
}

.navLinkUnderline {
  display: none;
}

.navLink .navLinkUnderline,
.navLink:active .navLinkUnderline {
  display: block;
  height: 2px;
  background-color: #399D6B;
  transition: width 0.3s;
}

.controls {
  display: flex;
}

.logoText {
  margin-left: 11px;
  text-decoration: none;
  color: black;
  height: 100%;
  vertical-align: 12px;
}

.logoTextCard {
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;

}

.logoTextShop {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.controlGroup {
  position: relative;
  display: flex;
  align-items: center;
}



.controls:last-child {
  margin-right: 0;
}

.divider {
  height: 28px;
  width: 1px;
  background-color: #bbbaba;
  margin-left: 10px;
  margin-right: 10px;
}


.navLink {
  display: inline-block;
  background-color: #ffffff;
  color: #333333;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  margin-right: 1px;
  cursor: pointer;
}

.navLink:hover {
  background-color: #399D6B;
  color: #ffffff;
  font-weight: 700;
}


.navLinkUnderline {
  display: none;
}

.navLink:hover .navLinkUnderline {
  display: block;
}

.number {
  color: green;
  margin-top: 18px;
  margin-left: 5px;
}

.menuContainer {
  position: relative;
}

.iconContainer {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  z-index: 1000;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
}

.dropdownMenu li:last-child {
  border-bottom: none;
}

.dropdownMenu li:hover {
  background-color: #f9f9f9;
}

.dropbutton {
  color: black;
}

@media (max-width: 767px) {

  .controlGroup {
    margin-right: 30px;
  }
  .navLink {
    display: none;

  }

  .logoText {
    display: none;
  }

  .number {
    display: none;
  }

  .header {
    display: fixed;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    width: 100%;
    background-color: white;
    z-index: 2000;
  
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.hoverEffect {
  margin-right: 3px;
  transition: transform 0.3s ease;
}
.hoverEffectwo {
  margin-top: 4px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.hoverEffectwo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.hoverEffect:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.phonemenu {
  margin-top: -5px;
  width: 20px;
  height: 20px;
}

.phonemenublock {
  display: none;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.phonemenu:active {
  transform: scale(0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



@media (max-width: 767px) {
  .phonemenublock {
    display: flex;
  }
}


.visible {
  background-color: red;
}



.slideOutLeft {
  animation: slideOutLeftAnimation 0.5s forwards;
}

@keyframes slideOutLeftAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.sidebar {
  width: 250px; 
  background: #FFF; 
  margin-top: 40px;
  
}

.nav {
  display: flex; /* делаем меню горизонтальным */
  align-items: center; /* выравнивание элементов по центру по вертикали */
  background-color: #fff; /* фоновый цвет меню */
  padding: 10px 20px; /* отступы внутри меню */
}

@media (max-width: 850px) {

  .nav {
    display: none;
  }
  .sidebar {
    display: none;
    
  }

  .pressed {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
}


.navList {
  list-style: none; 
  padding: 0; 
  
  
}

.navItem {
  padding: 10px;
  border-radius: 10px; 
  height: 35px;
  font-weight: 700px;
  padding-top: 18px;
  cursor: pointer;
}


.navItem a {
  text-decoration: none;
  color: #333; 
  display: flex;
  align-items: center; 
  font-weight: 600;
  margin-top: -3px;
}

.icon {
  margin-right: 10px; 
}

.navItem:hover {
  background: #d7fadc;
}

.active {
  padding: 10px;
  border-radius: 10px;
  height: 35px;
  font-weight: 700px;
  padding-top: 18px;
  cursor: pointer;
  background: #d7fadc;
}

.active a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: -3px;
}



.icon {
  margin-right: 8px; /* отступ справа от иконки */
}

.menuItem {
  display: flex;
  align-items: center;
  margin-right: 20px; /* отступ между элементами меню */
  color: #333; /* цвет текста элементов */
  font-size: 16px; /* размер шрифта */
  text-decoration: none; /* убрать подчеркивание текста */
  cursor: pointer; /* курсор в виде указателя */
}

.menuItem:last-child {
  margin-right: 0; /* убрать отступ у последнего элемента */
}
